:root {
  --grain: #e5dad6;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars2 {
  z-index: 999;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1907px 1575px var(--grain), 893px 268px var(--grain),
    1819px 666px var(--grain), 366px 1985px var(--grain),
    1736px 1062px var(--grain), 1124px 45px var(--grain),
    905px 1674px var(--grain), 1570px 711px var(--grain),
    255px 1747px var(--grain), 147px 1032px var(--grain),
    865px 1813px var(--grain), 1721px 1461px var(--grain),
    202px 724px var(--grain), 1860px 812px var(--grain),
    634px 1410px var(--grain), 927px 1264px var(--grain),
    1648px 620px var(--grain), 1915px 1309px var(--grain),
    731px 778px var(--grain), 91px 1185px var(--grain),
    829px 1003px var(--grain), 174px 1784px var(--grain),
    1094px 1874px var(--grain), 1464px 484px var(--grain),
    1639px 1717px var(--grain), 959px 573px var(--grain),
    1686px 1287px var(--grain), 906px 356px var(--grain),
    970px 499px var(--grain), 626px 890px var(--grain),
    1344px 1070px var(--grain), 1351px 544px var(--grain),
    708px 68px var(--grain), 1870px 130px var(--grain),
    556px 1270px var(--grain), 1432px 618px var(--grain),
    769px 673px var(--grain), 1289px 1410px var(--grain),
    1499px 1969px var(--grain), 749px 1163px var(--grain),
    1198px 198px var(--grain), 399px 133px var(--grain),
    1856px 1280px var(--grain), 904px 194px var(--grain),
    973px 1107px var(--grain), 1371px 1785px var(--grain),
    989px 1835px var(--grain), 1043px 1517px var(--grain),
    787px 916px var(--grain), 1635px 1155px var(--grain),
    752px 524px var(--grain), 1926px 1279px var(--grain),
    1052px 1163px var(--grain), 719px 1963px var(--grain),
    786px 519px var(--grain), 1440px 500px var(--grain),
    156px 1265px var(--grain), 1691px 429px var(--grain),
    1349px 1474px var(--grain), 736px 459px var(--grain),
    248px 1678px var(--grain), 1136px 510px var(--grain),
    1317px 10px var(--grain), 1209px 1323px var(--grain),
    54px 469px var(--grain), 730px 1939px var(--grain), 960px 23px var(--grain),
    112px 941px var(--grain), 1852px 1522px var(--grain),
    1993px 1972px var(--grain), 265px 129px var(--grain),
    222px 1897px var(--grain), 1766px 1804px var(--grain),
    1530px 1786px var(--grain), 1045px 432px var(--grain),
    1916px 1980px var(--grain), 309px 1780px var(--grain),
    1420px 559px var(--grain), 1708px 103px var(--grain),
    324px 1407px var(--grain), 1175px 943px var(--grain),
    80px 1221px var(--grain), 1016px 1933px var(--grain),
    318px 560px var(--grain), 190px 1489px var(--grain),
    1095px 892px var(--grain), 1975px 1191px var(--grain),
    1197px 955px var(--grain), 1482px 873px var(--grain),
    1912px 300px var(--grain), 2000px 1636px var(--grain),
    1473px 1808px var(--grain), 507px 192px var(--grain),
    924px 1300px var(--grain), 1485px 1636px var(--grain),
    41px 1822px var(--grain), 689px 120px var(--grain), 769px 273px var(--grain),
    1039px 976px var(--grain), 1057px 1520px var(--grain),
    1417px 1187px var(--grain), 512px 1507px var(--grain),
    519px 45px var(--grain), 1207px 1687px var(--grain),
    1824px 1488px var(--grain), 1694px 31px var(--grain),
    1859px 52px var(--grain), 1368px 268px var(--grain),
    190px 1404px var(--grain), 940px 1003px var(--grain),
    167px 942px var(--grain), 1641px 647px var(--grain),
    1051px 654px var(--grain), 233px 1640px var(--grain),
    554px 511px var(--grain), 1705px 1866px var(--grain),
    240px 1430px var(--grain), 140px 668px var(--grain),
    648px 1617px var(--grain), 252px 101px var(--grain),
    676px 1774px var(--grain), 889px 1698px var(--grain),
    595px 853px var(--grain), 249px 1768px var(--grain),
    1091px 1529px var(--grain), 223px 839px var(--grain),
    239px 699px var(--grain), 1547px 356px var(--grain),
    249px 1130px var(--grain), 1209px 1946px var(--grain),
    1967px 1274px var(--grain), 430px 298px var(--grain),
    1305px 134px var(--grain), 156px 91px var(--grain),
    1712px 264px var(--grain), 1256px 991px var(--grain),
    1887px 1844px var(--grain), 1957px 1275px var(--grain),
    1718px 666px var(--grain), 1090px 543px var(--grain),
    933px 1411px var(--grain), 801px 323px var(--grain),
    202px 1659px var(--grain), 1117px 549px var(--grain),
    290px 1859px var(--grain), 1380px 1516px var(--grain),
    557px 1165px var(--grain), 1953px 1758px var(--grain),
    1901px 1407px var(--grain), 1144px 347px var(--grain),
    1640px 271px var(--grain), 1996px 43px var(--grain),
    838px 488px var(--grain), 1151px 1529px var(--grain),
    306px 460px var(--grain), 1666px 635px var(--grain),
    1572px 633px var(--grain), 1797px 1076px var(--grain),
    1727px 1119px var(--grain), 474px 871px var(--grain),
    1491px 1398px var(--grain), 1301px 868px var(--grain),
    1632px 454px var(--grain), 1611px 466px var(--grain),
    498px 1162px var(--grain), 796px 269px var(--grain),
    1988px 747px var(--grain), 502px 12px var(--grain),
    276px 1260px var(--grain), 1536px 974px var(--grain),
    956px 656px var(--grain), 107px 701px var(--grain), 965px 491px var(--grain),
    1646px 247px var(--grain), 1515px 921px var(--grain),
    1813px 519px var(--grain), 697px 143px var(--grain),
    591px 1452px var(--grain), 1773px 1411px var(--grain),
    1622px 1401px var(--grain), 534px 340px var(--grain),
    1590px 284px var(--grain), 1464px 528px var(--grain),
    734px 1718px var(--grain), 1929px 1683px var(--grain),
    656px 480px var(--grain), 833px 705px var(--grain),
    1567px 109px var(--grain), 1055px 330px var(--grain),
    1943px 1367px var(--grain), 1935px 1512px var(--grain),
    355px 1024px var(--grain), 1894px 218px var(--grain),
    1703px 1772px var(--grain), 781px 1394px var(--grain),
    367px 42px var(--grain), 100px 690px var(--grain), 1831px 458px var(--grain),
    1884px 1878px var(--grain), 814px 1013px var(--grain);
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 1575px var(--grain), 893px 268px var(--grain),
    1819px 666px var(--grain), 366px 1985px var(--grain),
    1736px 1062px var(--grain), 1124px 45px var(--grain),
    905px 1674px var(--grain), 1570px 711px var(--grain),
    255px 1747px var(--grain), 147px 1032px var(--grain),
    865px 1813px var(--grain), 1721px 1461px var(--grain),
    202px 724px var(--grain), 1860px 812px var(--grain),
    634px 1410px var(--grain), 927px 1264px var(--grain),
    1648px 620px var(--grain), 1915px 1309px var(--grain),
    731px 778px var(--grain), 91px 1185px var(--grain),
    829px 1003px var(--grain), 174px 1784px var(--grain),
    1094px 1874px var(--grain), 1464px 484px var(--grain),
    1639px 1717px var(--grain), 959px 573px var(--grain),
    1686px 1287px var(--grain), 906px 356px var(--grain),
    970px 499px var(--grain), 626px 890px var(--grain),
    1344px 1070px var(--grain), 1351px 544px var(--grain),
    708px 68px var(--grain), 1870px 130px var(--grain),
    556px 1270px var(--grain), 1432px 618px var(--grain),
    769px 673px var(--grain), 1289px 1410px var(--grain),
    1499px 1969px var(--grain), 749px 1163px var(--grain),
    1198px 198px var(--grain), 399px 133px var(--grain),
    1856px 1280px var(--grain), 904px 194px var(--grain),
    973px 1107px var(--grain), 1371px 1785px var(--grain),
    989px 1835px var(--grain), 1043px 1517px var(--grain),
    787px 916px var(--grain), 1635px 1155px var(--grain),
    752px 524px var(--grain), 1926px 1279px var(--grain),
    1052px 1163px var(--grain), 719px 1963px var(--grain),
    786px 519px var(--grain), 1440px 500px var(--grain),
    156px 1265px var(--grain), 1691px 429px var(--grain),
    1349px 1474px var(--grain), 736px 459px var(--grain),
    248px 1678px var(--grain), 1136px 510px var(--grain),
    1317px 10px var(--grain), 1209px 1323px var(--grain),
    54px 469px var(--grain), 730px 1939px var(--grain), 960px 23px var(--grain),
    112px 941px var(--grain), 1852px 1522px var(--grain),
    1993px 1972px var(--grain), 265px 129px var(--grain),
    222px 1897px var(--grain), 1766px 1804px var(--grain),
    1530px 1786px var(--grain), 1045px 432px var(--grain),
    1916px 1980px var(--grain), 309px 1780px var(--grain),
    1420px 559px var(--grain), 1708px 103px var(--grain),
    324px 1407px var(--grain), 1175px 943px var(--grain),
    80px 1221px var(--grain), 1016px 1933px var(--grain),
    318px 560px var(--grain), 190px 1489px var(--grain),
    1095px 892px var(--grain), 1975px 1191px var(--grain),
    1197px 955px var(--grain), 1482px 873px var(--grain),
    1912px 300px var(--grain), 2000px 1636px var(--grain),
    1473px 1808px var(--grain), 507px 192px var(--grain),
    924px 1300px var(--grain), 1485px 1636px var(--grain),
    41px 1822px var(--grain), 689px 120px var(--grain), 769px 273px var(--grain),
    1039px 976px var(--grain), 1057px 1520px var(--grain),
    1417px 1187px var(--grain), 512px 1507px var(--grain),
    519px 45px var(--grain), 1207px 1687px var(--grain),
    1824px 1488px var(--grain), 1694px 31px var(--grain),
    1859px 52px var(--grain), 1368px 268px var(--grain),
    190px 1404px var(--grain), 940px 1003px var(--grain),
    167px 942px var(--grain), 1641px 647px var(--grain),
    1051px 654px var(--grain), 233px 1640px var(--grain),
    554px 511px var(--grain), 1705px 1866px var(--grain),
    240px 1430px var(--grain), 140px 668px var(--grain),
    648px 1617px var(--grain), 252px 101px var(--grain),
    676px 1774px var(--grain), 889px 1698px var(--grain),
    595px 853px var(--grain), 249px 1768px var(--grain),
    1091px 1529px var(--grain), 223px 839px var(--grain),
    239px 699px var(--grain), 1547px 356px var(--grain),
    249px 1130px var(--grain), 1209px 1946px var(--grain),
    1967px 1274px var(--grain), 430px 298px var(--grain),
    1305px 134px var(--grain), 156px 91px var(--grain),
    1712px 264px var(--grain), 1256px 991px var(--grain),
    1887px 1844px var(--grain), 1957px 1275px var(--grain),
    1718px 666px var(--grain), 1090px 543px var(--grain),
    933px 1411px var(--grain), 801px 323px var(--grain),
    202px 1659px var(--grain), 1117px 549px var(--grain),
    290px 1859px var(--grain), 1380px 1516px var(--grain),
    557px 1165px var(--grain), 1953px 1758px var(--grain),
    1901px 1407px var(--grain), 1144px 347px var(--grain),
    1640px 271px var(--grain), 1996px 43px var(--grain),
    838px 488px var(--grain), 1151px 1529px var(--grain),
    306px 460px var(--grain), 1666px 635px var(--grain),
    1572px 633px var(--grain), 1797px 1076px var(--grain),
    1727px 1119px var(--grain), 474px 871px var(--grain),
    1491px 1398px var(--grain), 1301px 868px var(--grain),
    1632px 454px var(--grain), 1611px 466px var(--grain),
    498px 1162px var(--grain), 796px 269px var(--grain),
    1988px 747px var(--grain), 502px 12px var(--grain),
    276px 1260px var(--grain), 1536px 974px var(--grain),
    956px 656px var(--grain), 107px 701px var(--grain), 965px 491px var(--grain),
    1646px 247px var(--grain), 1515px 921px var(--grain),
    1813px 519px var(--grain), 697px 143px var(--grain),
    591px 1452px var(--grain), 1773px 1411px var(--grain),
    1622px 1401px var(--grain), 534px 340px var(--grain),
    1590px 284px var(--grain), 1464px 528px var(--grain),
    734px 1718px var(--grain), 1929px 1683px var(--grain),
    656px 480px var(--grain), 833px 705px var(--grain),
    1567px 109px var(--grain), 1055px 330px var(--grain),
    1943px 1367px var(--grain), 1935px 1512px var(--grain),
    355px 1024px var(--grain), 1894px 218px var(--grain),
    1703px 1772px var(--grain), 781px 1394px var(--grain),
    367px 42px var(--grain), 100px 690px var(--grain), 1831px 458px var(--grain),
    1884px 1878px var(--grain), 814px 1013px var(--grain);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
